#header{
  background: url('../img/img-mobile/image-hero.jpg') no-repeat 50% center/cover;
  padding: 1rem 0;
}

#header .container .navbar .links{
  display: none;
}

.hero-text{
  width: 100%;
  border: 2px solid #fff;
  margin-top: 3rem;
  padding: 1rem 3rem 1rem 1rem;
}

.hero-text h1{
  width: 100%;
}